{% extends 'base.html' %}

{% block title %}Character Blueprints{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <h1>Character Blueprints</h1>

    <a href="{% url 'npc_cards:create_blueprint' %}">Create New Blueprint</a>

    <ul>
        {% for blueprint in blueprints %}
            <li><a href="{% url 'npc_cards:blueprint_detail' blueprint.id %}">{{ blueprint.name }}</a></li>
        {% empty %}
        <li>Not yet any blueprints.</li>
        {% endfor %}
    </ul>
{% endblock %}