{% extends 'base.html' %}

{% block title %}NPC Characters{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <h1>NPC Characters</h1>

    <a href="{% url 'npc_cards:create_character' %}">Create New Character</a>

    <ul>
    {% for character in characters %}
        <li>
            <a href="{% url 'npc_cards:character_detail' character.id %}">{{ character.name }}</a>
            {% if location %}
                {{ character.location.name }}
            {% endif %}
        </li>
    {% empty %}
        <li>No characters availiable.</li>
    {% endfor %}
    </ul>
{% endblock %}