{% extends 'base.html' %}

{% block title %}{{location.name}}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <h1>{{location.name}}</h1>
    
    <dl>
        <dt>Story:</dt>
        <dd>{{ location.story|default:"No story available" }}</dd>
        
        <dt>Universe:</dt>
        <dd>{{ location.universe.name|default:"No universe assigned" }}</dd>
        
        <dt>Parent Location:</dt>
        <dd>{{ location.parent_location.name|default:"Top-level location" }}</dd>
        
        <dt>Items:</dt>
        <dd>
            <ul>
                {% for item in location.items.all %}
                    <li>{{ item.name }}</li>
                {% empty %}
                    <li>No items in this location</li>
                {% endfor %}
            </ul>
        </dd>
        
        <dt>NPCs:</dt>
        <dd>
            <ul>
                {% for npc in location.npcs.all %}
                    <li><a href="{% url 'npc_cards:character_detail' npc.id %}">{{ npc.name }}</a></li>
                {% empty %}
                    <li>No NPCs in this location</li>
                {% endfor %}
            </ul>
        </dd>
        

        {% if location.parent_location %}
            <dt>Parent Location Path</dt>
            <dd>
                <div>
                    {% with parent=location.parent_location %}
                        {% include "npc_cards/location_tree_parents.html" with location=parent %}
                    {% endwith %}
                </div>
            </dd>
        {% endif %}


        <dt>Sub-locations:</dt>
        <dd>
            <ul>
                {% for sublocation in location.sub_locations.all %}
                    <li><a href="{% url 'npc_cards:location' sublocation.id %}">{{ sublocation.name }}</a></li>
                {% empty %}
                    <li>No sub-locations</li>
                {% endfor %}
            </ul>
        </dd>
    </dl>

    
    {% if location.secret %}
        <div class="secret-info">
            <h3>Secret Information (GM Only)</h3>
            <p>{{ location.secret }}</p>
        </div>
    {% endif %}
{% endblock %}