{% extends 'base.html' %}

{% block title %}Create NPC Instance{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <h1>Universes</h1>
    <ul>
        {% for universe in all_universes %}
        <li><strong>{{ universe.name }}</strong></li>
        <ul>
            {% for location in universe.locations.all %}
                {% if not location.parent_location %}
                <li>
                    <a href="{% url 'npc_cards:location' location.id %}">{{ location.name }}</a>
                    {% include "npc_cards/location_tree.html" with location=location %}
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% empty %}
        <li>No universes availiable</li>
        {% endfor %}
    </ul>
{% endblock %}